[group:ceno]
programs=freenet,bundle-server,reader

[program:freenet]
# Options taken from Freenet's ``wrapper.conf``.
command=/usr/bin/java
 -Dnetworkaddress.cache.ttl=0
 -Dnetworkaddress.cache.negative.ttl=0
 -Djava.net.preferIPv4Stack=true
 -Xms60m -Xmx512m
 -cp {{ bcprov_jar }}:{{ freenet_ext_jar }}:{{ freenet_jar }}
 freenet.node.NodeStarter freenet.ini
directory={{ freenet_path }}
user={{ bridgeuser }}

[program:bundle-server]
command=/usr/bin/nodejs {{ bundler_path | basename }}
directory={{ bundler_path | dirname }}
user={{ bridgeuser }}
environment=CENOLANG="{{ bundler_lang }}"

[program:reader]
command={{ reader_path }}
directory={{ reader_path | dirname }}
user={{ bridgeuser }}
environment=CENOLANG="{{ reader_lang }}"
